    <h6>Name: Cabido, Mikyla jane</h6>
    <h6>Age:18</h6>
    <h6>Address: Buagsong, Cordova, Cebu</h6>
    <h6>Gender: Female</h6>
    <h6>Description of yourself: I'm Mikyla fucoses on studying IT.</h6>


    <h1>Paragraph</h1>
    <h6>Study load:</h6>
        <h6>PATHFIT 2 - EXCERCISE-BASED FITNESS ACTIVITIES - 1PM - 3PM</h6>
        <h6>S. CABALLERO</h6>
        <h6>WEB - Web Development - 8AM - 9AM</h6>
        <h6>B. EMPACES</h6>
        <h6>DISCRETE 1 - DISCRETE STRUCTURES - 10AM - 11AM</h6>
        <h6>E. DINOY</h6>
        <h6>PROG 2- COMPUTER PROGRAMMING 2 - 8AM - 9AM</h6>
        <h6>I. EDA</h6>
        <h6>BASIC ELECT - BASIC ELECTRONICS - 12PM - 1PM</h6>
        <h6>T. COMAYAS</h6>
        <h6>GE 3 - READINGS IN PHILIPPINE HISTORY - 1PM - 4PM</h6>  
        <h6>D. INOC</h6>
        <h6>FIL 2 - PANITIKAN NG PILIPINAS - 10AM - 1PM</h6>
        <h6>M. TANEO</h6>
        <h6>GE 4 - PURPOSIVE COMMUNICATION - 3PM - 4:30PM</h6>
        <h6>C. BLASCO</h6>
        <h6>NSTP 2 - NATIONAL SERVICE TRAINING PROGRAM 2 - 4:30PM - 6PM</h6>
        <h6>L. PAQUIBOT</h6>




    </body>
    </html>